@import "../variables";

@media only screen and (min-width: 768px){

    .row {
        display: flex;
    
        .col-4 {
            height: inherit;
        }
    }
    .card{
        flex: 1;
    }
}

.card{
    font-family: "Roboto", $primary-font;
    height: 100%;
    width: 100%;
    padding: 20px;
    color:  $primary-color;
    box-shadow: 0px 0px 3px 0px;
    line-height: 24px;
}