/*
    Must Declare following in _variables.scss
        $primary-color
        $footer-height
        $footer-text-color
        $footer-font-size
*/

footer{
    width: 100%;
    background-color: $primary-color;
    color: $footer-text-color;
    font-family: 'Roboto', sans-serif;
    font-size: $footer-font-size;
    text-align: center;
    text-transform: uppercase;
    padding: ($footer-height - $footer-font-size + 9)/2 0px;
    margin-top: auto;

    .icon-credit{
        text-transform: none;
    }

    a, a:link, a:visited, a:hover, a:active{
        text-decoration: underline;
        color: inherit;
        padding: 0px;
    }
}