@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import './variables';
@import './components/responsiveNav';
@import './components/hero';
@import './components/footer';
@import "./components/columnLayout";
@import "./components/card";
@import "./components/icons";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    &:before, &:after {
        box-sizing: border-box;
    }
}
html{
    height: 100%;
    position: relative;
}
.container{
    max-width: 960px;
    min-height: 100%;
    margin: auto;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
body{
    margin-top: $header-height + 6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 768px) {
    .container {
        :not(nav) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }    
}