@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
/*
    Must Declare following in _variables.scss
        $primary-color
        $secondary-color
        $highlight-color
        $header-text-color
        $header-height
        $logo-font-size
        $nav-font-size
        $nav-padding
*/
header {
  background-color: #3d3d3d;
  overflow: hidden;
  box-shadow: 0px 0px 6px 0px;
}
header .logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 31px;
  display: block;
  text-transform: uppercase;
  color: #3ae374 !important;
  padding: 19px 0px;
  float: left;
}
header nav {
  text-align: right;
  cursor: default;
}
header nav .nav-element {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  display: inline-block;
  text-transform: uppercase;
  padding: 26.5px 20px;
  color: #ffffff !important;
  text-shadow: 0px 0px 2px black;
}
header nav .nav-element:hover {
  border-bottom: solid 1px #3ae374;
  cursor: default;
}
header a, header a:link, header a:visited, header a:hover, header a:active {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 768px) {
  header .hamburger {
    display: block;
    cursor: pointer;
    float: right;
    padding: 19px 20px 0px 0px !important;
    right: 0;
    top: 0;
    position: absolute;
  }
  header .hamburger .bar1, header .hamburger .bar2, header .hamburger .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 0px 0px 4px 0px;
  }
  header .hamburger.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  header .hamburger.change .bar2 {
    opacity: 0;
  }
  header .hamburger.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  header .logo {
    float: none;
    padding-left: 0px;
  }
  header nav {
    visibility: hidden;
    display: none;
    background-color: #4b4b4b;
    width: 100%;
    position: relative;
  }
  header nav .nav-element {
    text-shadow: none;
    float: none;
    display: block !important;
    text-align: left !important;
    position: relative;
    width: 100%;
  }
  header nav .nav-element:hover, header nav .nav-element :active {
    border-bottom: solid 0px !important;
    background-color: #3ae374;
    color: #3d3d3d !important;
  }
  header nav.visible {
    visibility: visible !important;
    display: block;
  }
}
.hero {
  background-color: #4b4b4b;
  background-image: url("/images/hero-bg.jpg");
  height: 300px;
  box-shadow: 0px 1px 5px 0px;
}
.hero hgroup {
  text-transform: uppercase;
  padding-top: 117.5px;
  text-shadow: 0px 0px 2px black;
}
.hero hgroup h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: white;
}
.hero hgroup h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

/*
    Must Declare following in _variables.scss
        $primary-color
        $footer-height
        $footer-text-color
        $footer-font-size
*/
footer {
  width: 100%;
  background-color: #3d3d3d;
  color: #acacac;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 31.5px 0px;
  margin-top: auto;
}
footer .icon-credit {
  text-transform: none;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active {
  text-decoration: underline;
  color: inherit;
  padding: 0px;
}

.row .col-1 {
  width: 8.33%;
}
.row .col-2 {
  width: 16.66%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.33%;
}
.row .col-5 {
  width: 41.66%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.33%;
}
.row .col-8 {
  width: 66.66%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.33%;
}
.row .col-11 {
  width: 91.66%;
}
.row .col-12 {
  width: 100%;
}
.row [class*=col-] {
  float: left;
  padding: 15px;
  height: 100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (max-width: 768px) {
  .row [class*=col-] {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .row {
    display: flex;
  }
  .row .col-4 {
    height: inherit;
  }

  .card {
    flex: 1;
  }
}
.card {
  font-family: "Roboto", "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: #3d3d3d;
  box-shadow: 0px 0px 3px 0px;
  line-height: 24px;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin: auto;
}
.icon.icon-mac {
  background-image: url("../images/mac.svg");
}
.icon.icon-phone {
  background-image: url("../images/phone.svg");
}
.icon.icon-server {
  background-image: url("../images/server.svg");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
}

.container {
  max-width: 960px;
  min-height: 100%;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  margin-top: 75px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .container :not(nav) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
